<div class="home-main">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="cursor: pointer;box-shadow: 0 1px 5px 0 rgba(0,0,0,.14),0 3px 7px -2px rgba(255,152,0,.4);border: 1px solid #888888;">		
                    <div class="card-body pt-1 pb-0">
                        <span class="badge badger-light border" style="position: absolute;top:-6px;left: 2px;background: white;">UPCOMING</span>			
                        <div class="row">
                            <div class="border p-2" style="position: absolute;bottom: 2px; left: 2px; z-index: 10; background: white;box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px #fba500;">
                                <img style="max-width: 100%;height: 40px;" src="../../assets/images/crt-ball.png">
                            </div>
                            <div class="col-md-12 text-right p-1">
                                <div class="small w-100">Mumbai Indians v Sunrisers Hyderabad</div>
                                <div class="p-0 m-0"> <span class="h4">MUIN v SUHY</span></div>
                              </div>			  	
                          </div>		  	
                    </div>	
                    <div class="card-footer small text-muted p-1 text-right">
                        April 17, 2021, 7:30 pm		</div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>